*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
  }

  /* Header Section Start */
header{
    padding: 30px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    width: 253.041px;
    height: 53px;
  }
  .navbar ul{
    display: flex;
  }
  .navbar ul li{
    margin-right: 25px;
  }
  .navbar ul li a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
  }
  .follow-us{
    background-image: url(images/Rectangle\ 1.png);
    padding: 10px;
    position: relative;
    bottom: 8px;
    border-radius: 8px;
  }
  .follow-us a{
    position: relative;
    bottom: 8px;
  }
  .youtube{
    width: 33.916px;
  height: 24px;
  flex-shrink: 0;
  }
  .tiktok{
    width: 24px;
  height: 24px;
  flex-shrink: 0;
  }
  /* Header Section End */
  /* Banner Section Start */
section{
    padding: 0 140px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-text h2{
    color: #0B0223;
   font-size: 48px;
   font-weight: 600;
   text-transform: uppercase;
  }
  .banner-text h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .list{
    padding-top: 24px;
  }
  .banner-list{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: lowercase;
    margin-left: 12px;
    position: relative;
    bottom: 5px;
    padding-top: 24px;
  }
  .banner h3 img{
    width: 24px;
    height: 24px;
  }
  .button{
    padding-top: 40px;
    display: flex;
    gap: 20px;
  }
  .sign-in-btn{
    border: none;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .rogue-btn{
    padding: 16px 40px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
    cursor: pointer;
  }
  .banner-img img{
    width: 550px;
  }
  /* Banner Section End */

  
/* We-are-gamer-Section Start */
.we-are-gamer{
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .we-are-gamer-text{
    text-align: right;
  }
  .we-are-gamer-text h2{
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .we-are-gamer-text p{
    width: 520px;
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 10px;
  }
  .we-are-gamer-text button{
    display: inline-flex;
    padding: 16px 40px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;;
    text-transform: uppercase;
    margin-top: 20px;
  }
  .we-are-gamer-text button:hover{
    cursor: pointer;
  }
  .we-are-gamer-text h4{
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px; 
    padding-top: 24px;
  }
  .unleash{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; 
  }
  .we-are-gamer-img img{
    width: 500px;
    height: 489px;
  }
  /* We-are-gamer Section End */
  
  /* Online Game Section Start */
  .online-games{
    padding-top: 100px;
  }
  .online-games h1{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
  }
  .color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
  }
  .online-games h5{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
  }
  .online-games-iteam{
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 20px;
   
  }
  .box{
    width: 100%;
  }
  .box img{
    width: 260px;
  }
  .box p{
    color: #534C64;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }
  .box img:hover{
    cursor: pointer;
  }
  /* On Line Game Section End */